<div class="grades-details__wrapper">
    <div class="percentages-wrapper">
        <div class="min-percentage">
            <p>Percent from (%):</p>
            <span>{{grade.minPercentage}}</span>
        </div>
        <div class="max-percentage">
            <p>Percent to (%):</p>
            <span>{{grade.maxPercentage}}</span>
        </div>
    </div>
    <div class="symbolic-grade">
        <p>Grade:</p>
        <span>{{grade.symbolicGrade}}</span>
    </div>
    <div class="grade-description">
        <p>Grade description:</p>
        <span>{{grade.descriptiveGrade}}</span>
    </div>
</div>
