<nav>
    <div class="header-links-wrapper">
        <a routerLink="">
            <h3>
                <button class="home-btn">
                    <fa-icon [icon]="faHome"></fa-icon>
                </button> 
                Home
            </h3>
        </a>
        <a href="/grades">
            <h3>
                <button class="grade-btn">
                    <fa-icon [icon]="faGraduationCap"></fa-icon>
                </button> 
                {{ title }}
            </h3>
        </a>
    </div>
    <div class="user-avatar">
        <img src="../../../assets/img/user-avatar.png" alt="user-avatar">
    </div>
</nav>
