<div class="grades-details__wrapper">
    <div class="percentages-wrapper">
        <div class="min-percentage">
            <p>Percent from (%):</p>
            <span>90</span>
        </div>
        <div class="max-percentage">
            <p>Percent to (%):</p>
            <span>100</span>
        </div>
    </div>
    <div class="symboic-grade">
        <p>Grade:</p>
        <span>A - Excellent</span>
    </div>
    <div class="grade-description">
        <p>Grade description:</p>
        <span>Well done on this assessment!</span>
    </div>
    <button class="edit-btn">
        <fa-icon [icon]="faEdit"></fa-icon>
        Edit
    </button>
</div>
