$bg-color: #ececec;

.grades__wrapper {
    min-height: 100vh;
    background-color: $bg-color;
    padding-bottom: 30px;

    .add-btn__wrapper {
        display: flex;
        justify-content: center;
    }

    .grades__list {
        padding: 10px;
    }
}