$bg-color: #ececec;
$font-color: #003F91;

.grades__wrapper {
    min-height: 100vh;
    background-color: $bg-color;

    .add-btn__wrapper {
        display: flex;
        justify-content: center;

        .add-btn {
            margin-bottom: 20px;
            padding: 10px 20px;
            font-weight: bold;
            color: $font-color;
            text-transform: uppercase;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: white;
                border-radius: 5px;
                background-color: lightskyblue;
            }

            fa-icon {
                margin-right: 5px;
            }
        }
    }
}

.grades__list {
    padding: 10px;

    .grades__list__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 10px 10px;
        border-radius: 15px;
        list-style-type: none;
        cursor: pointer;
        transition: background-color 0.3s, border 0.3s;

        &:hover {
            background-color: white;
            border: 1px solid #a0a0a0;
        }

        div b {
            padding-right: 10px;
        }

        .trash-btn {
            padding: 5px;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            background-color:transparent;
            transition: color 0.3s, background-color 0.3s;

            &:hover {
                color: white;
                background-color: tomato;
            }

            fa-icon {
                font-size: 16px;
            }
        }
    }
}