<div class="grades__wrapper">
    <ul class="grades__list">
        <li *ngFor="let grade of grades" class="grades__list__item">
            <div>
                <b>{{grade.symbolicGrade}}</b>
                <span>{{grade.minPercentage}}%</span> - <span>{{grade.maxPercentage}}%</span>
            </div>
            <button class="trash-btn" title="Delete Grade">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
        </li>
    </ul>
    <div class="add-btn__wrapper">
        <button class="add-btn"><fa-icon [icon]="faPlus"></fa-icon> Add New Grade</button>
    </div>
    <app-add-form></app-add-form>
</div>


