<div class="grades__wrapper">
    <ul class="grades__list">
        <app-grade-item 
            *ngFor="let grade of grades" 
            [grade]="grade"
            (onDeleteGrade)="deleteGrade(grade)"
        ></app-grade-item>
    </ul>
    <div class="add-btn__wrapper">
        <app-add-button
            text="{{ showAddGradeForm ? 'Close Grade Form' : 'Add New Grade' }}"
            (btnClick)="toggleAddGradeForm()"
        >
        </app-add-button>
    </div>
    <app-add-form (onAddGrade)="addGrade($event)"></app-add-form>
</div>


