$bg-color: #ececec;

.grades-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
}

.grades__wrapper {
    min-height: 100vh;
    background-color: $bg-color;
    padding-bottom: 30px;

    .grade__details--mobile__wrapper {
        background-color: white;
    }

    .add-btn__wrapper {
        display: flex;
        justify-content: center;
    }

    .grades__list {
        padding: 10px;
    }
}

.select-message {
    text-align: center;
    padding: 30px;

    img {
        max-width: 280px;
        max-height: 280px;
        margin-top: 30px;
        object-fit: cover;
    }
}

@media screen and (max-width: 675px) {
    .select-message {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .grade__details--desktop {
        display: none;
    }
}

@media screen and (min-width: 675px) {
    .grade__details--mobile {
        display: none;
    }
}