<div class="grades-container">
    <div class="grades__wrapper">
        <ul class="grades__list">
            <app-grade-item 
                *ngFor="let grade of grades" 
                [grade]="grade"
                (onDeleteGrade)="deleteGrade(grade)"
            ></app-grade-item>
        </ul>
        <div class="form-wrapper">
            <div class="add-btn__wrapper">
                <app-add-button
                    text="{{ showAddGradeForm ? '× Close Grade Form' : '+ Add New Grade' }}"
                    (btnClick)="toggleAddGradeForm()"
                >
                </app-add-button>
            </div>
            <app-add-form (onAddGrade)="addGrade($event)"></app-add-form>
        </div>
    </div>

    <div class="select-message">
        <h3>Select the grade from the list on the left hand side <br> to see the grade details.</h3>
        <img src="../../../assets/img/grade-icon.png" alt="grade icon">
    </div>
</div>


