<div class="add-form__wrapper">
    <label for="min-percentage">Percent from (%):</label>
    <input type="number" min="0" max="100" required>
    <label for="max-percentage">Percent to (%):</label>
    <input type="number" min="0" max="100" required>
    <label for="grade">Grade:</label>
    <select name="grade" id="" required>
        <option value="A - Excellent">A - Excellent</option>
        <option value="B - Very Good">B - Very Good</option>
        <option value="C - Good">C - Good</option>
        <option value="D - Satisfactory">D - Satisfactory</option>
        <option value="E - Poor">E - Poor</option>
        <option value="F - Failing">F - Failing</option>
    </select>
    <label for="grade-description">Grade description:</label>
    <textarea name="grade-description" required></textarea>
    <button type="submit">Save Grade</button>
</div>
