<form 
    *ngIf="showAddGradeForm" 
    class="add-form__wrapper" 
    #gradesForm="ngForm" 
    (ngSubmit)="onSubmit(); gradesForm.reset()"
>
    <label for="min-percentage">Percent from (%):</label>
    <input 
        type="number" 
        min="0" 
        max="100" 
        name="minPercentage" 
        [(ngModel)]="minPercentage" 
        placeholder="Add percentage..." 
        required
    >
    <label for="max-percentage">Percent to (%):</label>
    <input 
        type="number" 
        min="0" max="100" 
        name="maxPercentage" 
        [(ngModel)]="maxPercentage" 
        placeholder="Add percentage..." 
        required
    >
    <label for="symbolicGrade">Grade:</label>
    <select 
        id="symbolicGrade" 
        name="symbolicGrade"
        [(ngModel)]="symbolicGrade"  
        required
    >
        <option value="0" disabled selected>- Select a grade -</option>
        <option *ngFor="let grade of grades" [value]="grade">{{grade}}</option>
    </select>
    <button type="submit">
        <fa-icon [icon]="faSave"></fa-icon> 
        Save Grade
    </button>
</form>
