<div class="grades-details__wrapper">
    <div class="percentages-wrapper">
        <div class="min-percentage">
            <p>Percent from (%):</p>
            <input 
                type="number" 
                name="minPercentage"
                required
            >
        </div>
        <div class="max-percentage">
            <p>Percent to (%):</p>
            <input 
                type="number" 
                name="maxPercentage"
                required
            >
        </div>
    </div>
    <div class="symbolic-grade">
        <p>Grade:</p>
        <select 
            class="form-control"
            id="symbolicGrade" 
            name="symbolicGrade"
            required
        >
            <option value="0" disabled selected>- Select a grade -</option>
            <option></option>
        </select>
    </div>
    <div class="grade-description">
        <p>Grade description:</p>
        <textarea 
            name="descriptiveGrade" 
            id="descriptiveGrade" 
            cols="48" 
            rows="8"
            required
        ></textarea>
    </div>
    <div class="buttons-wrapper">
        <button class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon>
            Save Edits
        </button>
        <button class="go-back-btn" (click)="goBack()">
            <fa-icon [icon]="faChevronCircleLeft"></fa-icon> 
            Go back
        </button>
    </div>
</div>