$bg-color: #ececec;

.grades-details__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid grey;
    border: 1px solid grey;
    box-shadow: 0 0 30px grey;
    background-color: $bg-color;

    p {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
    }

    input, select, textarea {
        padding: 5px 5px;
        font-family: 'Raleway', sans-serif;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .symbolic-grade, .grade-description {
        margin-bottom: 15px;
    }

    .percentages-wrapper {
        display: flex;
        gap: 30px;

        div {
            margin-bottom: 15px;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 10px;

        .edit-btn {
            background-color: #8adf0a;

            &:hover {
                background-color: #6eac13;
            }
        }

        .go-back-btn {
            background-color: skyblue;

            &:hover {
                background-color: rgb(37, 37, 216);
            }
        }

        .edit-btn, .go-back-btn {
            margin-top: 10px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;
    
            fa-icon {
                margin-right: 5px;
            }
        }
    }
}